<html>
    <head>
        <link href="https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Vazirmatn-font-face.css" rel="stylesheet" type="text/css" />
        <style>
            body {
                font-family: Vazirmatn, sans-serif;
            }
            p{
                font-size: 18px;
            }
        </style>
    </head>

    <body dir="rtl" style="padding-right: 4rem;padding-left: 4rem;background-color: #fffae8;">
        <h1 style="text-align: center;">ایجاد محتوا برای کاربران عادی غیرمجاز است</h1>
    </body>
</html>


